body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.recommendation-box {
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#recommendation-table thead {
    position: sticky;
    top: 0;
    background: #f8f9fa; /* Light background to differentiate from body */
    z-index: 10;
}

.table-title {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.table-responsive {
    max-height: 350px; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd; /* Optional: Adds a border for clarity */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #222222;
    color: white;
}

.table td {
    font-size: 16px;
}

.table td[style] {
    font-weight: bold;
}
